<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <header class="container">
        <div class="col-md-6">
          <div class="lineThinT">
            <h1>CREATIVE<br />
              CONTEXTS</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="number lineThinT">
              <div class="short">5</div>
              <div>12</div>
            </div>
            <div class="text">
              <div class="short">Active<br />
                Contexts
              </div>
              <div>Executive<br />
                Partners
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="number lineThinT">
              <div>
                1264
              </div>
            </div>
            <div class="text">
              <div>
                Registered<br />
                Designers
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="headerLine"></div>
          </div>
          <div class="col-md-12">
            <div class="social lineThinB">
              <p class="hidden-xs">Products market, Designers involved</p>
              <ul class="socialLinks">
                <li class="facebook"><a href=""></a></li>
                <li class="twitter"><a href=""></a></li>
                <li class="rss"><a href=""></a></li>
              </ul>
            </div>
          </div>
        </header><!--header ends-->
        <section class="container">
          <div class="col-md-12">
            <nav>
              <div class="nav1"><a href="">PARTICIPATE</a></div>
              <div class="nav2"><a href="">ABOUT</a></div>
              <div class="nav3"><a href="">SHOP</a></div>
              <div class="nav4 hidden-sm hidden-xs"><a href=""></a></div>
              <div class="nav5"><a href="">LOGIN</a></div>
            </nav>
          </div>
        </section><!--nav ends-->
        <section class="container compareBox">
          <div class="col-md-12">
            <h2>EXPRESS OPINION</h2>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 box">
              <div class="images clearfix">
                <img class="img-responsive pull-left" src="images/item1-a.png" alt="Coca Cola a">

                <img class="img-responsive pull-right" src="images/item1-b.png" alt="Coca Cola b">
              </div>
              <div class="orDiv">OR</div>
            </div>
            <div class="col-md-6 box boxInfo">
              <ul class="infoTitle">
                <li>Help COCA COLA<br />
                  to chose new bottle.
                </li>
                <li>
                  <img class="img-responsive" src="images/logo-coca-cola.png" alt="Coca Cola logo">
                </li>
              </ul>
              <div class="info">
                <ul>
                  <li>DEADLINE:<span>30 DAYS MORE</span></li>
                  <li>STATUS:<span>OPEN</span></li>
                  <li>WIN AWARD:<span>T-SHIRT</span></li>
                  <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                </ul>
                <div class="ribbon">
                  <p>
                    Means Designer will get revenue<br />
                    on 7% from product sales.
                  </p>
                </div>
              </div>
              <div class="answer">
                <a href="">ANSWER THE FOCUS QUESTIONS</a>
              </div>
            </div>
          </div>
        </section>
        <section class="container compareBox">
          <div class="col-md-12">
            <div class="col-md-6 box">
              <div class="images clearfix">
                <img class="img-responsive pull-left" src="images/item2-a.png" alt="Eastpak a">

                <img class="img-responsive pull-right" src="images/item2-b.png" alt="Eastpak b">
              </div>
              <div class="orDiv">OR</div>
            </div>
            <div class="col-md-6 box boxInfo">
              <ul class="infoTitle">
                <li>Help EASTPAK<br />
                  to chose new bottle.
                </li>
                <li>
                  <img class="img-responsive" src="images/logo-eastpak.png" alt="Eastpak logo">
                </li>
              </ul>
              <div class="info">
                <ul>
                  <li>DEADLINE:<span>30 DAYS MORE</span></li>
                  <li>STATUS:<span>OPEN</span></li>
                  <li>WIN AWARD:<span>T-SHIRT</span></li>
                  <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                </ul>
              </div>
              <div class="answer">
                <a href="">ANSWER THE FOCUS QUESTIONS</a>
              </div>
            </div>
          </div>
        </section>
        <section class="container compareBox">
          <div class="col-md-12">
            <div class="col-md-6 box">
              <div class="images clearfix">
                <img class="img-responsive pull-left" src="images/item3-a.png" alt="Freitag a">

                <img class="img-responsive pull-right" src="images/item3-b.png" alt="Freitag b">
              </div>
              <div class="orDiv">OR</div>
            </div>
            <div class="col-md-6 box boxInfo">
              <ul class="infoTitle">
                <li>Help FREITAG<br />
                  to chose new bottle.
                </li>
                <li>
                  <img class="img-responsive" src="images/logo-Freitag.png" alt="Freitagogo">
                </li>
              </ul>
              <div class="info">
                <ul>
                  <li>DEADLINE:<span>30 DAYS MORE</span></li>
                  <li>STATUS:<span>OPEN</span></li>
                  <li>WIN AWARD:<span>T-SHIRT</span></li>
                  <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                </ul>
              </div>
              <div class="answer">
                <a href="">ANSWER THE FOCUS QUESTIONS</a>
              </div>
            </div>
          </div>
        </section>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
      </body>
      </html>
