<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <header class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="lineThinT">
              <h1>CREATIVE<br />
                CONTEXTS</h1>
              </div>
            </div>
            <div class="col-md-3">
              <div class="number lineThinT clearfix">
                <div class="pull-left customWidth">5</div>
                <div class="pull-right">12</div>
              </div>
              <div class="text clearfix">
                <div class="pull-left">Active<br />
                  Contexts
                </div>
                <div class="pull-right">Executive<br />
                  Partners
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="number lineThinT clearfix">
                <div class="pull-right">
                  1264
                </div>
              </div>
              <div class="text clearfix">
                <div class="pull-right">
                  Registered<br />
                  Designers
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="headerLine"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="social lineThinB">
                <p class="hidden-xs">Products market, Designers involved</p>
                <ul class="socialTop socialLinks">
                  <li class="facebook"><a href=""></a></li>
                  <li class="twitter"><a href=""></a></li>
                  <li class="rss"><a href=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </header><!--header ends-->

        <section class="container">
          <div class="row">
            <div class="col-md-12">
              <nav>
                <div class="nav1">
                  <div>
                    <a href="">PARTICIPATE</a>
                  </div>
                </div>
                <div class="nav2">
                  <div>
                    <a href="">ABOUT</a>
                  </div>
                </div>
                <div class="nav3">
                  <div>
                    <a href="">SHOP</a>
                  </div>
                </div>
                <div class="nav4 hidden-sm hidden-xs">
                  <div>
                    <a href=""></a>
                  </div>
                </div>
                <div class="nav5">
                  <div>
                    <a href="">LOGIN</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </section><!--nav ends-->

        <section class="container sectionBig">
          <div class="row">
            <div class="col-md-12">
              <h2>EXPRESS OPINION</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="boxHolder clearfix">
                <div class="col-md-6 box">
                  <div class="images clearfix">
                    <img class="img-responsive pull-left" src="images/item1-a.png" alt="Coca Cola a">

                    <img class="img-responsive pull-right" src="images/item1-b.png" alt="Coca Cola b">
                  </div>
                  <div class="orDiv">OR</div>
                </div>
                <div class="col-md-6 box boxInfo">
                  <ul class="infoTitle">
                    <li>Help COCA COLA<br />
                      to chose new bottle.
                    </li>
                    <li>
                      <img class="img-responsive" src="images/logo-coca-cola.png" alt="Coca Cola logo">
                    </li>
                  </ul>
                  <div class="info">
                    <ul>
                      <li>DEADLINE:<span>30 DAYS MORE</span></li>
                      <li>STATUS:<span>OPEN</span></li>
                      <li>WIN AWARD:<span>T-SHIRT</span></li>
                      <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                    </ul>
                    <div class="ribbon">
                      <p>
                        Means Designer will get revenue<br />
                        on 7% from product sales.
                      </p>
                    </div>
                  </div>
                  <div class="answer">
                    <a href="">ANSWER THE FOCUS QUESTIONS</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!--sectionBig ends-->

        <section class="container sectionBig">
          <div class="row">
            <div class="col-md-12">
              <div class="boxHolder clearfix">
                <div class="col-md-6 box">
                  <div class="images clearfix">
                    <img class="img-responsive pull-left" src="images/item2-a.png" alt="Eastpak a">

                    <img class="img-responsive pull-right" src="images/item2-b.png" alt="Eastpak b">
                  </div>
                  <div class="orDiv">OR</div>
                </div>
                <div class="col-md-6 box boxInfo">
                  <ul class="infoTitle">
                    <li>Help EASTPAK<br />
                      to chose new bottle.
                    </li>
                    <li>
                      <img class="img-responsive" src="images/logo-eastpak.png" alt="Eastpak logo">
                    </li>
                  </ul>
                  <div class="info">
                    <ul>
                      <li>DEADLINE:<span>30 DAYS MORE</span></li>
                      <li>STATUS:<span>OPEN</span></li>
                      <li>WIN AWARD:<span>T-SHIRT</span></li>
                      <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                    </ul>
                  </div>
                  <div class="answer">
                    <a href="">ANSWER THE FOCUS QUESTIONS</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!--sectionBig ends-->

        <section class="container sectionBig">
          <div class="row">
            <div class="col-md-12">
              <div class="boxHolder clearfix">
                <div class="col-md-6 box">
                  <div class="images clearfix">
                    <img class="img-responsive pull-left" src="images/item3-a.png" alt="Freitag a">

                    <img class="img-responsive pull-right" src="images/item3-b.png" alt="Freitag b">
                  </div>
                  <div class="orDiv">OR</div>
                </div>
                <div class="col-md-6 box boxInfo">
                  <ul class="infoTitle">
                    <li>Help FREITAG<br />
                      to chose new bottle.
                    </li>
                    <li>
                      <img class="img-responsive" src="images/logo-Freitag.png" alt="Freitagogo">
                    </li>
                  </ul>
                  <div class="info">
                    <ul>
                      <li>DEADLINE:<span>30 DAYS MORE</span></li>
                      <li>STATUS:<span>OPEN</span></li>
                      <li>WIN AWARD:<span>T-SHIRT</span></li>
                      <li class="last">WHO:<span>YOU ARE SELECTED DESIGNER TO DO THIS TASK</span></li>
                    </ul>
                  </div>
                  <div class="answer">
                    <a href="">ANSWER THE FOCUS QUESTIONS</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!--sectionBig ends-->
        <!--all compare boxes end-->

        <section class="container sectionBig">
          <div class="row">
            <div class="col-md-12">
              <h2>EASTPAK > DESIGN STORE</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="thumbnailHolder">
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <a target="_blank" href="images/bag-01.png"><img src="images/bag-01.png" alt="Bag 01"></a>
                    <div class="caption">
                      <h4>TEEN BAG</h4>
                      <div class="productInfo">
                        <span>92</span>$
                        <a href="">+</a>
                      </div>
                      <p class="productDesigner">Designer: <span>Mark Johnson</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <a target="_blank" href="images/bag-02.png"><img src="images/bag-02.png" alt="Bag 02"></a>
                    <div class="caption">
                      <h4>PAPER BAG</h4>
                      <div class="productInfo">
                        <span>24</span>$
                        <a href="">+</a>
                      </div>
                      <p class="productDesigner">Designer: <span>Mark Johnson</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <a target="_blank" href="images/bag-03.png"><img src="images/bag-03.png" alt="Bag 03"></a>
                    <div class="caption">
                      <h4>LEATHER BAG</h4>
                      <div class="productInfo">
                        <span>55</span>$
                        <a href="">+</a>
                      </div>
                      <p class="productDesigner">Designer: <span>Mark Johnson</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <a target="_blank" href="images/bag-04.png"><img src="images/bag-04.png" alt="Bag 04"></a>
                    <div class="caption">
                      <h4>BLACK BAG</h4>
                      <div class="productInfo">
                        <span>55</span>$
                        <a href="">+</a>
                      </div>
                      <p class="productDesigner">Designer: <span>Mark Johnson</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!--design store ends-->

        <section class="container sectionBig">
          <div class="row">
            <div class="col-md-12">
              <h2>DESIGNERS</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="slideshow">
                <a href=""><img class="img-responsive" src="images/designer-01.png" alt="Designer 01"></a>
                <a href=""><img class="img-responsive" src="images/designer-02.png" alt="Designer 02"></a>
                <a href=""><img class="img-responsive" src="images/designer-03.png" alt="Designer 03"></a>
                <a href=""><img class="img-responsive" src="images/designer-04.png" alt="Designer 04"></a>
                <a href=""><img class="img-responsive" src="images/designer-05.png" alt="Designer 05"></a>
                <a href=""><img class="img-responsive" src="images/designer-06.png" alt="Designer 06"></a>
                <a href=""><img class="img-responsive" src="images/designer-07.png" alt="Designer 07"></a>
                <a href=""><img class="img-responsive" src="images/designer-08.png" alt="Designer 08"></a>
                <a href=""><img class="img-responsive" src="images/designer-01.png" alt="Designer 01"></a>
                <a href=""><img class="img-responsive" src="images/designer-02.png" alt="Designer 02"></a>
                <a href=""><img class="img-responsive" src="images/designer-03.png" alt="Designer 03"></a>
                <a href=""><img class="img-responsive" src="images/designer-04.png" alt="Designer 04"></a>
                <a href=""><img class="img-responsive" src="images/designer-05.png" alt="Designer 05"></a>
                <a href=""><img class="img-responsive" src="images/designer-06.png" alt="Designer 06"></a>
                <a href=""><img class="img-responsive" src="images/designer-07.png" alt="Designer 07"></a>
                <a href=""><img class="img-responsive" src="images/designer-08.png" alt="Designer 08"></a>
              </div>
              <div class="customNavigation visible-md visible-lg">
                <a class="prev"></a>
                <a class="next"></a>
              </div>
            </div>
          </div>
        </section><!--designers carousel ends-->

        <section class="container sectionBig visible-md visible-lg">
          <div class="row">
            <div class="col-md-12">
              <h2>BRANDS</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="brands">
                <div>
                  <img src="images/brands-01.png" alt="Brand 01">
                </div>
                <div>
                  <img src="images/brands-02.png" alt="Brand 02">
                </div>
                <div>
                  <img src="images/brands-03.png" alt="Brand 03">
                </div>
                <div>
                  <img src="images/brands-04.png" alt="Brand 04">
                </div>
                <div>
                  <img src="images/brands-05.png" alt="Brand 05">
                </div>
              </div>
            </div>
          </div>
        </section><!--brands end-->

        <div class="footer">
          <section class="container">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <h6>BROWSE CATEGORIES</h6>
                <ul class="categories">
                  <li><a href="">Participate</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Shop</a></li>
                  <li><a href="">Login</a></li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-4">
                <h6>CONTEXT'S WEEKLY NEWSLETTER</h6>
                <p class="newsletterText">Get awesome projects delivered to your inbox each week.</p>
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Your e-mail address...">
                  </div>
                  <button type="submit" class="btn btn-primary">JOIN NEWSLETTER</button>
                </form>
              </div>
              <div class="col-sm-12 col-md-4">
                <h6>CONNECT WITH US</h6>
                <div class="facebookLikes">
                  <button class="btn like"></button>
                  <p class="fbText">
                    <span>146,111</span>people like this.
                  </p>
                </div>
                <ul class="socialFooter socialLinks">
                  <li class="twitter">
                    <a href="">Follow on Twitter</a>
                  </li>
                  <li class="rss">
                    <a href="">Read our Context's Blog</a>
                  </li>
                  <li class="facebook">
                    <a href="">Context's on Facebook</a>
                  </li>
                </ul>
                <div class="powered pull-right">
                  <small>powered by:</small> 
                  <img alt="IED" src="images/powered.png">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="footerBottom"></div>
              </div>
              <div class="col-md-6">
                <ul class="footerQuickLinks">
                  <li><a href="">Help</a></li>
                  <li><a href="">Guidelines</a></li>
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li class="last"><a href="">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <p class="copyright">Copyright @ 2009-212 Istituto Europeo di Design | P.Iva: 022942730156</p>
              </div>
            </div>
          </section>
        </div><!--footer ends-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
      </body>
      </html>
